.mybtn{
    border:none;
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 5px;
    background:linear-gradient(to right,rgba(200,50,30,0.9),rgba(200,50,30,0.8));
    color:#fff;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
    font-family: sans-serif;
    transition: all 0.2s;
    cursor: pointer;
}

.mybtn:hover,
.mybtn:active,
.mybtn:focus{
    outline: none;
}

.mybtn:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
}

.mybtn:action{
    transform: translateY(2px);
    box-shadow: none;
}

@media (max-width:998px){
    .mybtn{
        margin-top: 5px;
    }
}



/* .my-search{
    background: rgba(0,0,0,0.2);
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    margin: 5px auto;
    width:50vw;
}

.btn{
    margin-top: 5px;
    width:50vw;
} */


.search{
    height: 43vh;
    /* background: rgba(0,0,0,0.5); */
    display: flex;
    flex-direction: column;
}

.s-info h3{
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    color: antiquewhite;
    margin-bottom: 0;
}
.s-info p{
    text-align: center;
    margin-top: 0;
    overflow: hidden;
}

.my-search{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-group{
    margin-right: 20px;
    width:250px;
}

.form-control{
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.5);
}

 .bootstrap-select .form-control:focus{
    outline: none !important;
    box-shadow: none !important;
    
}

.my-btn{
    text-align: center;
}
.btn{
    text-align: center;
    background: white;
    width:125px;
    outline: none;
    border: 3px solid rgba(0,0,0,0.7);
    border-radius: 10px;
    color: black;
    
}

.my-btn:focus{
    outline:none ;
    box-shadow: none;
}

@media (max-width:676px){
    .search{
        height: 55vh;
        /* background: rgba(0,0,0,0.5); */
        
    }
    .my-search{
        display: block;
        margin-top:5px;
    }

    .form-group{
        margin:5px auto;
        width:250px;
    }
}

.grids-center{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.grid{
    flex:1 0 calc(33% - 5px);
    margin:0;
    padding: 20px;
}

.grids article:first-of-type{

    border-right: 1px solid rgba(0,0,0,0.5);
}

.grids article:nth-of-type(3){
    border-left: 1px solid rgba(0,0,0,0.5);
}

.grids article:nth-of-type(4){
    border-right: 1px solid rgba(0,0,0,0.5);
    border-top:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
}
.grids article:nth-of-type(6){
    border-left: 1px solid rgba(0,0,0,0.5);
    border-top:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
}
.grids article:nth-of-type(5){
    border-width: 100px;
    border-top:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
} 

.grids-center{
    margin: 0 auto;
}

.grid{
    text-align: center;
}

.grid a{
    font-size: 35px;
}

.grid p{
    font-size: 15px;
    text-transform: uppercase;

}

@media screen and (min-width:776px){
    .grid{
        flex:1 0 calc(16.66% - 5px);
        
    }
    grids article:first-of-type{

        border-right: 1px solid rgba(0,0,0,0.5);
        border-bottom: 1px solid rgba(0,0,0,0.5);
        border-top: 1px solid rgba(0,0,0,0.5);
    }
    .grids article:nth-of-type(3){
        border-left: 1px solid rgba(0,0,0,0.5);
        border-right: 1px solid rgba(0,0,0,0.5);
        border-bottom: 1px solid rgba(0,0,0,0.5);
        border-top: 1px solid rgba(0,0,0,0.5);
    }
    .grids article:nth-of-type(2){
        border-bottom: 1px solid rgba(0,0,0,0.5);
        border-top: 1px solid rgba(0,0,0,0.5);
    }
    .grids article:nth-of-type(1){
        border-bottom: 1px solid rgba(0,0,0,0.5);
        border-top: 1px solid rgba(0,0,0,0.5);
    }


}


#card{
    padding: 20px 0 80px 0;
}
.card-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-title h3{
    align-self: center;margin-left: 5px;
}

.card-title a{
    text-decoration: none;
    align-self: center;
    margin-right:10px;
}
.card-container{
     max-width:90vw;
    margin: 0 auto;
    
}

.card-item{
    padding:20px;
    margin-top:10px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    transition: transform 1s ease;
    
}

.card-item:hover{
    transform: translate(-4%,-2%);
}

#card img{
    width:100%;
    display:block; 
    border-radius: 4px;
}

.card__text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card__text h1{
    margin-top:5px;
    font-size: 20px;
    text-align:center;
}

.card__text .btn{
  text-align: center;
  text-transform: uppercase;
  width: 150px;
  outline:none;
}

.card__text .btn:hover,
.card__text .btn:focus{
    outline:none ;
    box-shadow: none;
    background: rgba(0,0,0,0.5);
    color:azure;
}

@media screen and (min-width:667px){
    .card-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 1em;
        grid-row-gap:1em;
    }
}



/********footer*******/








/********end of footer*****/