
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
	font-family: "Varela Round", sans-serif;
}

body {
  font-family: "Varela Round", sans-serif;
}

a{
  text-decoration: none;
  color: black;
  text-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
a:hover{
  text-decoration: none;
  color: gray;
  filter: brightness(75%);

}

.navbar{
	display: flex;
	height: 60px;

}

.icon{
  width: 40px;
  height: 35px;
}

.icon-font{

  font-size:25px; 
  text-shadow: 0 1px 8px rgba(0,0,0,0.2);
}



.navbar_ul {
  color: black;
  display: flex;
  justify-content: center;

}
.navbar_ul li{
  padding: 5px;
  width: 100%;
  display: inline;
  text-decoration: none;

}

.box1 {
  width:100%;
  height: 70vh;
  display: flex;
  box-shadow: 0 3px 4px rgba(0,0,0,0.4);
  background-image: url("2.jpg");
  background-position: center;
  filter: brightness(85%);
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.box1 h1{
  
  font-size: 50px;
  color: white;
  margin-bottom: 40px;

  text-shadow: 0 1px 8px rgba(0,0,0,0.2);
}
.box1 .my-form{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.headings{
 display: table-cell;
 vertical-align: middle;
 text-align: right;
 padding: 25px 0 0 25px;

}

.headings h2{
  font-size: 24px;
  font-weight: 600;
  margin-left: 95px;
  margin-bottom: 20px;
}

.form-control{
	width:450px;
}


.mybutton {
  margin-top: 10px;
  border: none;
  width:100px;
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to right,rgba(200,50,30,0.9),rgba(200,50,30,0.8));
  color: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  font-family: 'Varela Round', sans-serif;
  transition: all 0.2s;
  cursor: pointer;
}

.mybutton:hover,
.mybutton:active,
.mybutton:focus {
  outline: none;
}

.mybutton:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 8px rgba(0,0,0,0.2);
}

.mybutton:active {
  transform: translateY(2px);
  box-shadow: none;
}




.heading {
  margin-top: 10px;
  text-align: center;
}

.mycard {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: hidden;
}

.mycard:hover {
  transform: scale(1.05);
}

.mycard__image {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mycard__image img {
  width: 100%;
  border-radius: 4px;
  filter: brightness(80%);
}

.mycard__content {
  margin-top: 5px;
  text-align: center;
}

.mycard__heading {
  margin: 0;
  margin-bottom: 5px;
}

.mycard__btn {
  width: 100%;
  padding: 5px;
  border: none;
  background: #2f4f4f;
  cursor: pointer;
  color: #eee;
  font-size: 14px;
  border-radius: 4px;
  text-transform: uppercase;
}

.mycard__btn:focus,
.mycard__btn:active {
  outline: none;
}

.myfooter{
  width: 100%;
  height:200px;
  background-color: black;
  color: white;
  text-shadow: 0 1px 8px rgba(0,0,0,0.2);
  margin-top: 12px;
  padding: 15px;
  margin-bottom: 0px;
}

.myfooter h3{
	padding-top: 10px;
	padding-bottom: 5px;
}

.myfooter p{
  text-align: center;

}

.list-unstyled {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mylist{
	
	text-align: center;
}

.mylist ul{
	list-style-type: none;
	text-decoration: none;
}




